*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:#f02929;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #28f4e7;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.hotel{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.hotel-col{
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.hotel-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: rgb(222, 47, 47);
    border: 2px solid rgb(222, 47, 47);
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn1:hover{
    border: 2px solid rgb(94, 184, 241);
    background: rgb(94, 184, 241);
    transition: 1s;
    color: rgb(249, 252, 255);
}
.hero-btn2{
    display: inline-block;
    text-decoration: none;
    color: rgb(222, 47, 47);
    border: 2px solid rgb(222, 47, 47);
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn2:hover{
    border: 2px solid rgb(142, 48, 241);
    background: rgb(142, 48, 241);
    transition: 1s;
    color: rgb(249, 252, 255);
}
.hero-btn3{
    display: inline-block;
    text-decoration: none;
    color: rgb(222, 47, 47);
    border: 2px solid rgb(222, 47, 47);
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn3:hover{
    border: 2px solid rgb(222, 47, 47);
    background: rgb(222, 47, 47);
    transition: 1s;
    color: rgb(249, 252, 255);
}
