<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/next_page.css">
  <title>Next Page</title>
</head>
<body>
  <section class="sub-header">
            <nav>
                <a href="home.html"><img src="/static/images/logo.png"></a>
                 <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
                <div class="nav-links">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/#about">ABOUT US</a></li>
                        <li><a href="http://127.0.0.1:8000/termconditions/">TERMS</a></li>

                    </ul>
                </div>
            </nav>
</section>
<section class="hotel">
    <h1>Free Group VS VIP Group</h1>
    <div class="row">
        <div class="hotel-col">
            <img src="/static/images/free.jpg">
            <br><br><br>
            <a href="https://t.me/+xSt6r36xHGs3ZTVk" class="hero-btn1">JOIN TELEGRAM</a><br><br>
            <a href="https://discord.gg/efHGRE3R" class="hero-btn2">JOIN DISCORD</a><br><br>
        </div>
        <div class="hotel-col">
            <img src="/static/images/vip.jpg">
            <br><br>
            <h2 style="color: rgb(79, 219, 107);">Connect with the admin and complete the payment to become a member of the VIP group.</h2>
            <br>
            <a href="https://t.me/fxcryptobull" class="hero-btn3">CONNECT</a><br><br>
        </div>
    </div>
</section>
</body>
</html>
